.o_main_navbar {
    border: 1px solid #ff6868 !important;
    background-color: #ff6868 !important;
    -webkit-box-shadow: 0px 0px 8px #ff6868 !important;
    box-shadow: 0px 0px 8px #ff6868 !important;
}
.o_main_navbar{
    color: white;
    background-color: #e55d5d !important;
    border-color: #e55d5d !important;
}
.o_main_navbar > ul > li > a:hover {
    background-color: #911717 !important;
}
